body {
    margin: 0px 0px 0px 0px;
    background-color: rgb(236,239,241);
    font-family: 'Segoe UI';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    all: unset;
}